*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
font-family: 'Overpass', sans-serif;
font-size: 16px;
font-kerning: 1em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "womenhair";
    clear: both;
    height: 0;
}

.category_headlines{
font-family: 'Overpass', sans-serif;
text-transform: uppercase;
font-size: 75px;
text-align: center;
}


ul {list-style: none;}

h3{font-size: 35px;}

.container_header{
height:500px;
}

.clickme{
font-family: 'Overpass', sans-serif;
text-transform: uppercase;
font-size: 24px;
}


#logo{
float: left;
clear: left;
padding: 75px 0 0 0;
}

.message_one{
font-size: 125px;
font-family: 'Dancing Script', cursive;
text-align: right;
padding: 75px 50px 0 0;
}
.message_one2{
font-size: 50px;
font-family: 'Overpass', sans-serif;
text-transform: uppercase;
text-align: right;
padding: 0 50px 0 0;
}

.primary_nav{
font-size: 25px;
display: block;
text-transform: uppercase;
padding: 0 0 25px 0;
}


.message_two{
border-top: 1px solid black;
text-transform: uppercase;
text-align: center;
font-size: 24px;
padding: 25px 0 0 0;
margin: 0 0 50px 0;
}

#salebanner{
background-color: #d8afff;
height: 150px;
}

.sales_headeline{
color: white;
font-size: 50px;
text-align: center;
padding: 25px 0 0 0;
}

#seeall{
font-size: 24px;
text-transform: uppercase;
color: white;
float: center;
clear: both;
}

#hero_image{
background-image: url("../images/newyear_hair.jpg");
background-repeat: no-repeat;
background-size: cover;
position: relative;
height: 1900px;
}

.newyear{
font-size: 300px;
color: white;
font-family: 'Dancing Script', cursive;
padding: 50px 0 150px 200px;
transform: rotate(-5deg);	
}

.headline_ny{
font-size: 65px;
font-family: 'Overpass', sans-serif;
color: white;
text-transform: uppercase;
padding: 0 0 0 200px;
}

#start_today{
font-family: 'Overpass', sans-serif;
font-size:40px;
color: white;
padding: 0 0 0 600px;}


#hairstyle_examples{
height: 800px;
}

.womenhair{
float: left;
width: 50%;

}

.menhair{
float: right;
width: 50%;
}

#trends{
background-color:#9d9fa2;
height:900px;
color: white;
}

.box1{
float: left;
width: 33%;
}

.box2{
float: left;
width: 33%;
}

.box3{
float: left;
width: 33%;
}

.ask_a_stylist{
background-image: url("../images/salonquestion_bkgd.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 1200px;
}


.whitebox{
background: white;
height: 40%;
}


.ask_stylist_header{
font-family: 'Overpass', sans-serif;
font-size: 75px;
text-align:center;
text-transform: uppercase;
text-align: center;
padding: 300px 0 25px 0;
background: white
}



.question{
font-family: 'Overpass', sans-serif;
font-size:40px;
text-align:center;
}

.askme{
font-family: 'Overpass', sans-serif;
text-transform: uppercase;
font-size: 24px;
text-align:center;
}


.box_footer{
float: left;
width: 33.33%;
padding: 50px;
text-align: center;
}

.great_hair{
font-size: 40px}
