
body{
font-family:sans-serif, fonts,thonburi, arial;
font-size: 12px;
line-height: 1.5em;
}

.header{}


.salebanner{
background-color:#d8afff;
color:white;
}



.hero_image{
background-image:images:"newyear_hair.jpg";
}




.hairstyle_examples{

}



.trends{
background-color:#9d9fa2;
color:white;
}

.ask_a_stylist


.footer
