*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family:'Barlow', sans-serif;
	font-size: 16px; 
	letter-spacing: .1em;
}

.clearfix:after{
	display: block;
	content: "";
	clear: both;
}

.category_headlines{
	text-transform: uppercase;
	text-align: center;
	font-size: 2em;
	padding: .5em 0 .5em 0;
	border-top: .75px solid black;
	border-bottom: .75px solid black;
	margin-top: 1em;
	margin-bottom: 1em;
}

ul{
	list-style:none;
}

h3{
	font-size: 2em
}

#logo{
	float: left;
	clear: left;
	width:15%;
	padding: 1em 0;
}

.whoweare{
	float:right;
	padding: 2em 2em;
}

.whoweare h1{
	text-align:right;
	font-size: 1.25em;
	text-transform: uppercase;
	line-height: 1.25em
}

#welcome{
	font-size: 2.25em;
}

.primarynav{
	float: right;
	margin-top: 3em;
	width: 100%;
}

.primarynav a{
	background: black;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1em;
	margin-left: 2em;
	display:inline-block;
}

#booknownav{
	background-color: gray;
}

.message_two{
	width:100%;
	text-align: center;
	border-top: .75px solid black;
	padding: .5em;
}



.salebanner{
	background-color: #b277cb;
}

.salebanner h3{
	color: white;
	text-align:center;
	padding-top: .75em;
	margin-top: 1em;
}

.salebanner a{
	color:yellow;
	text-decoration:none;
	text-align: center;
	display: block;
	padding-bottom: 1em;
	text-transform: uppercase;
}



.hero_image{
	background-image: url("../images/newyear_hair.jpg");
	padding-bottom: 30em;
	background-size: cover;
	background-repeat: no-repeat;
}
.hero_message{
	padding-top: 10em;
	padding-left:2em;
}
.hero_message h2{
	font-size: 8em;
	margin-left: 1em;
	color: white;
	font-family: 'Dancing Script', cursive;
	transform: rotate(-5deg);	
	line-height: 1em;
	letter-spacing: -.025em;
}

.hero_message p{
	font-size: 2.5em;
	color: white;
	margin-left: 2em;
	margin-top: 2em;
	margin-bottom: 1em;
}

.hero_message a{
	text-decoration: none;
	background-color: #5b2fcd;
	margin-left: 16em;
	padding: 1.5em;
	color: white;
	text-transform: uppercase;
}

.hairstyle_examples{
	padding-bottom: 1em;
}

.haircut{
	float: left;
	width: 50%;
	padding: 1em;
}

.haircut img{
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1em;
	display:block;
	width: 90%;
}

.haircut a{
	text-decoration: none;
	color: #5b2fcd;
	text-transform: uppercase;
	text-align: center;
	display: block;

}

.toptrends_section{
	background-color:gray;
	padding-bottom: 1em;
}




.trendsection_white{
	text-transform: uppercase;
	text-align: center;
	font-size: 2em;
	padding: .5em 0 .5em 0;
	color:white;
	border-top: .75px solid white;
	border-bottom: .75px solid white;
	margin-bottom: 1em;
	margin-top: 1em;
}

.trends{
	float: left;
	width: 33.33%;
	padding-bottom: 2em;
	}

.trends img{
 	margin-left: auto;
 	margin-right: auto;
 	display:block;
 	width:70%;
 	border: 5px solid white;
}

.trends h3{
	text-align: center;
	background-color: white;
	width: 70%;
	padding: .5em;
	margin-left: auto;
 	margin-right: auto;
 	border: 2px solid white;

}

.trends p{
	text-align: left;
	color: white;
	width: 70%;
	padding-top: 1em;
	margin-left: auto;
 	margin-right: auto;
}



.ask_a_stylist{
	background-image: url("../images/salonquestion_bkgd.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 15em;
}


.whitebox{
	background-color: white;
	padding: 2em;
	border: 5px solid black;
	line-height: 3em;
}

.whitebox h2{
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5em;
}

.whitebox h3{
	text-align: center;
	border-bottom: 1px solid black;
	padding-bottom: 1em;
}


.whitebox a{
	text-align: center;
	text-decoration: none;
	color: #5b2fcd;
	display: block;
	font-size: 1.5em;
}

.footer{
	padding-top: 4em;
}

.box_footer{
	float: left;
	width: 33.33%;
	text-align: center;
}

.box_footer h3{
	font-size: 2em;
	padding-bottom: .5em;
}

#great_hair{
	padding-bottom: 1em;
}

.clickme{
	text-transform: uppercase;
	text-align: center;
	color: white;
	text-decoration: none;
	background-color: gray;
	padding: 1em;
}



@media screen and (max-width: 1500px){
	.message_two{
		padding: 0 5em;
		margin-top: .5;
	}
	#logo{
		width:16%;
		margin-top: .5em;
		margin-left: 1.5em;
	}

@media screen and (max-width: 1300px){
	#logo{
		width:18%;
		margin-top: .75em;
	}
}

@media screen and (max-width: 1200px){
	#logo{
		width:18%;
	}
}


@media screen and (max-width: 1130px){
	#logo{
		width:21%;
	}
}
@media screen and (max-width: 900px){
	#logo{
		width: 23%;
		float: none;
		padding:auto;
	}
}

@media screen and (max-width: 850px){
	#logo{
		float: none;
		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}

	.whoweare h1{
		text-align:center;
		font-size: 1em;
		display:  block;
		margin: auto;
	}  
}

@media screen and (max-width: 680px){
	
	#logo{
		width:40%;
	}

	#welcome{
		font-size: 2em;
		width: 75%;
		margin: auto;
	}
	.primarynav{
		float: none;
		margin-top: 2em;
	}
	.primarynav a{
		text-align: center;
		padding: 1em 1em;
		margin-bottom: 1.5em;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		display:block;
	}

	.salebanner h3{
		text-align: center;
		font-size: 1.5em;
		width: 100%;
		margin-top: 1em;
		padding: .5em;
	}
	.salebanner a{
		text-align: center;
		display: block;
		padding-bottom: 1em;
	}

	.hero_image{
	background-image: url("../images/newyear_hair_vertical.jpg");
	padding-bottom: 22em;
	width: 100%;
	}
	.hero_message{
		padding: 1em 0 0 1em;
	}
	.hero_message h2{
		font-size: 4em;
		width: 100%;
	}
	.hero_message p{
		width: 50%;
		font-size: 1.25em;
		padding-top: 1em;
		text-align:center;
		margin: auto;
		margin-bottom:1em;
	}
	.hero_message a{
		padding: 1em;
		margin-left: 8em;
	}

	.haircut{
		width: 100%;
		padding-bottom: 1em;
	}
	.haircut img{
		width: 100%;
	}

	.category_headlines{
		font-size: 1.5em;
		width:100%;
	}

	.trendsection_white{
		font-size: 1.5em;
		width:100%;
	}
	.trends{
		width: 100%;
		float:none;
		padding-bottom: 2em;
	}
	.trends img{
 		width:70%;
 		border: 2px solid white;
 	}
	.trends h3{
		width: 70%;
 		border: 2px solid white;
 	}
	.trends p{
		width: 70%;
	}

	.ask_a_stylist{ 
		width: 100%;
		padding: 4em;
	}
	.whitebox{
		width: 100%;
		border: 2px solid black;
		line-height: 1.5em
	}
	.whitebox h2{
		margin-bottom: .75em;
		font-size: 2em;
		line-height: 1em;
	}
	.whitebox h3{
		font-size: 1.5em;
	}
	.whitebox a{
		font-size: 1em;
		text-transform: uppercase;
	}
 
	.footer{
		padding-top: 2em;
	}
	.box_footer{
		width: 90%;
		padding-bottom: 2em;
		margin-left: 1em;
	}
}

