body{
}
.header
}
background-color:blue;
}
h1{
	text:white;
	background-image:"images/newyear_hair.jpg";
}


.sale_banner
{background-color:blue;
}



.hero_image
{
	color
}

.hero_image
{background:blue;}



.hairstyle_examples



.trends



.ask_a_stylist


.footer
